<div class="page_main" id="page_home">
  <div class="main_body">
    <div class="page_home_container container-custom">
      <div id class="banner">
        <div id="banner_home">
          <div class="swiper-wrapper">
            <div class="swiper-slide banner_item">
              <a href="#" class="banner_item_thumb" title="Best Friend">
                <img src="<%= asset_path('banner.jpg') %>" alt="Best Friend">
                <img src="<%= asset_path('banner-small.jpg') %>" alt="Best Friend">
              </a>
            </div>
          </div>
        </div>
      </div>
      <div class="block_header mt-3">
        <h2 class="block_title">
          Product list
        </h2>
      </div>
      <div class="d-flex justify-content-between product-circle-row flex-wrap">
        <div class="product-circle-container">
          <a href="#">
            <div class="product-circle-container__image">
              <img src="<%= asset_path('product_type_1.png') %>">
            </div>
          </a>
          <a href="#">
            <strong class="d-block mx-auto">
              Mug
            </strong>
          </a>
        </div>
        <div class="product-circle-container">
          <a href="#">
            <div class="product-circle-container__image">
              <img src="<%= asset_path('product_type_2.png') %>">
            </div>
          </a>
          <a href="#">
            <strong class="d-block mx-auto">
              Blanket
            </strong>
          </a>
        </div>
        <hr>
        <div class="product-circle-container">
          <a href="#">
            <div class="product-circle-container__image">
              <img src="<%= asset_path('product_type_3.png') %>">
            </div>
          </a>
          <a href="#">
            <strong class="d-block mx-auto">
              Pillow
            </strong>
          </a>
        </div>
        <div class="product-circle-container">
          <a href="#">
            <div class="product-circle-container__image">
              <img src="<%= asset_path('product_type_4.png') %>">
            </div>
          </a>
          <a href="#">
            <strong class="d-block mx-auto">
              Canvas
            </strong>
          </a>
        </div>
      </div>
      <div class="block_header mt-4">
        <h2 class="block_title">
          Gift Collection
        </h2>
      </div>
      <div class="gap-large row">
        <div class="col-6 col-md-3 mb-gap">
          <div class="gift-collection-container">
            <a href="#">
              <img src="<%= asset_path('product1.png') %>">
            </a>
            <a href="#">
              <div class="gift-collection-container__button">
                Best Friend
              </div>
            </a>
          </div>
        </div>
        <div class="col-6 col-md-3 mb-gap">
          <div class="gift-collection-container">
            <a href="#">
              <img src="<%= asset_path('product2.png') %>">
            </a>
            <a href="#">
              <div class="gift-collection-container__button">
                Sisters
              </div>
            </a>
          </div>
        </div>
        <div class="col-6 col-md-3 mb-gap">
          <div class="gift-collection-container">
            <a href="#">
              <img src="<%= asset_path('product3.png') %>">
            </a>
            <a href="#">
              <div class="gift-collection-container__button">
                Animals/Pet
              </div>
            </a>
          </div>
        </div>
        <div class="col-6 col-md-3 mb-gap">
          <div class="gift-collection-container">
            <a href="#">
              <img src="<%= asset_path('product4.png') %>">
            </a>
            <a href="#">
              <div class="gift-collection-container__button">
                Family
              </div>
            </a>
          </div>
        </div>
      </div>
      <div class="block_container block_product_style_6">
        <div class="block_header">
          <h2 class="block_title"><a href="#" title="Best Selling">Best Selling</a></h2>
          <a href="#" class="block_title_viewmore button_link" title="Best Selling">
            View more <i><svg data-icon="osc-icon-vector" viewBox="0 0 12 12"><use xlink:href="#osc-icon-vector" /></svg></i>
          </a>
        </div>
        <div class="block_body">
          <div class="block_product">
            <div class="gap-large row">
              <div class="col-6 col-md-3 mb-gap">
                <div class="product_item">
                  <a href="#" class="product_item_thumb" title="3 Sisters - Sisters forever, never apart. Maybe in distance but never at heart.">
                    <img src="<%= asset_path('product5.png') %>">
                  </a>
                  <a class="product_item_info" title="3 Sisters - Sisters forever, never apart. Maybe in distance but never at heart." href="#">
                    <h3 class="product_item_name">
                      <span>Ï
                        3 Sisters - Sisters forever, never apart. Maybe in distance but never at heart.
                      </span>
                    </h3>
                    <div class="product_item_type">
                      Personalized Mug&nbsp;
                    </div>
                    <div class="product_item_price">
                      <strong class="product_price_money">
                        <span>
                          $13.99 USD
                        </span>
                      </strong>
                      <div class="product_item_saleoff">-44%</div>
                      <span class="product_price_money product_price_money--original">
                        <span>
                          $24.99 USD
                        </span>
                      </span>
                    </div>
                  </a>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
      <div class="block_container block_post_style">
        <div class="block_header">
          <h2 class="block_title">
            <a href="#" title="Posts">Posts</a>
          </h2>
          <a href="#" title="Posts" class="block_title_viewmore button_link">View more
            <i>
              <svg data-icon="osc-icon-vector" viewBox="0 0 12 12">
                <use xlink:href="#osc-icon-vector" />
              </svg>
            </i>
          </a>
        </div>
        <div class="block_body">
          <div class="blog_body">
            <div class="blog_lst">
              <div class="gap-large row">
                <div class="col-md-6 col-lg-3 blog_item">
                  <div class="blog_item__container">
                    <a href="#" class="blog_item__thumb">
                      <img src="<%= asset_path('post1.png') %>" alt="Mother’s Day Personalized Gifts: 10 Amazing Things She’ll Love">
                    </a>
                    <div class="blog_item__info">
                      <h3 class="blog_item__name">
                        <a href="#" title="Mother’s Day Personalized Gifts: 10 Amazing Things She’ll Love">
                          Mother’s Day Personalized Gifts: 10 Amazing Things She’ll Love
                        </a>
                      </h3>
                      <div class="blog_item__summary">
                        Don’t hold back when spoiling your mom because she deserves it. To show your mom how much you love her, here are 10 Mother’s Day personalized gifts.
                      </div>
                      <div class="blog_item__readmore">
                        <a href="#">Read more</a>
                      </div>
                    </div>
                  </div>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
