<!DOCTYPE html>
<html>
  <head>
    <title>Myapp</title>
    <meta name="viewport" content="width=device-width,initial-scale=1">
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>

    <%= stylesheet_link_tag 'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= javascript_pack_tag 'application', 'data-turbolinks-track': 'reload' %>
  </head>

  <body>
    <%= render 'layouts/shared/common_svg_icons' %>
    <div class="page_wrap">
      <%= render 'layouts/header' %>
      <%= yield %>
      <%= render 'layouts/shared/scroll_top' %>
      <%= render 'layouts/footer' %>
    </div>
    <%= render 'layouts/navigation' unless desktop? %>
  </body>
</html>
